.catalog {
  margin-bottom: 120px;

  @media (max-width: $vp-max-tablet) {
    margin-bottom: 80px;
  }

  @media (max-width: $vp-max-mobile) {
    margin-bottom: 60px;
  }

  h1 {
    margin-bottom: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.05em;
  }
}

.catalog__container {
  text-align: center;

  h2 {
    margin: 0 0 40px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.05em;

    @media (max-width: $vp-max-tablet) {
      font-size: 26px;
      line-height: 38px;
    }

    @media (max-width: $vp-max-mobile) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  h3 {
    margin: 0;
    padding: 15px;
    text-align: start;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $myrtle;

    @media (max-width: $vp-max-mobile) {
      padding: 10px;
      font-weight: 600;
      font-size: 16px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    margin-bottom: 40px;
    padding: 0 15px;

    @media (max-width: $vp-max-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $vp-max-mobile) {
      grid-template-columns: 1fr;
      padding: 0 10px;
    }
  }

  li {
    margin: 20px 0;
    background-color: $white;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }

  img {
    margin: 0;
    width: 100%;
  }
}

.catalog__link {
  display: inline-flex;
  justify-content: center;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px;
  color: $white;
  background-color: $grey-asparagus;

  @media (max-width: $vp-max-mobile) {
    font-size: 16px;
  }

  &:hover,
  &focus {
    background-color: $dark-sea-green;
  }

  &:active {
    background-color: $myrtle;
  }
}

.catalog__info {
  padding: 30px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  letter-spacing: 0.09em;
}
