<header class="header" data-menu>
    <div class="container header__container">
        <div>
            <a href="index.html">
                <svg width="80" height="48" role="img" aria-hidden="true" focusable="false">
                    <use href="img/sprite.svg#logo-soul"></use>
                </svg>
            </a>
        </div>

        <button class="header__toggle" type="button" data-menu-toggle>
            <span class="header__toggle-line"></span>

            <span class="visually-hidden">Открыть меню.</span>
        </button>

        <nav class="navigation header__navigation">
            <ul>
                <li>
                    <a href="/index.html#about" data-menu-close>
                        О нас
                    </a>
                </li>

                <li>
                    <a href="/index.html#advantages" data-menu-close>
                        Преимущества
                    </a>
                </li>

                <li>
                    <a href="/index.html#catalog" data-menu-close>
                        Каталог
                    </a>
                </li>

                <li>
                    <a href="/index.html#feedback" data-menu-close>
                        Обратная связь
                    </a>
                </li>

                <li>
                    <a href="/index.html#contacts" data-menu-close>
                        Контакты
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
