// typography
$fz-default: 16px;
$ff-montserrat: "Montserrat", "Arial", sans-serif;

// colors
$white: #ffffff;
$light-grey: #f6f6f6;
$black: #000000;
$silver: #bdbdbd;
$half-colonial-white: #f0e5c0;
$tara: #e1fae1;
$grey-asparagus: #466146;
$myrtle: #274e13;
$dark-sea-green: #97c297;
$razzmatazz: #e5064d;

// viewports
$vp-max-mobile: 767px;
$vp-max-tablet: 1023px;
$vp-max-desktop: 1279px;
$vp-max-widescreen: 1439px;
$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;
